body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: rgb(255, 245, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-card {
  border-bottom: 2px solid rgb(200, 200, 200);
}

.c-card {
  margin: 15px;
  width: 40%;
}

.c-card-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 2px rgb(121, 121, 121);
}

.c-card-title {
  font-size: 24px;
  margin: 0px;
}

.c-card-info {
  margin-top: 10px;
  min-height: 100px;
  max-width: 200px;
}

.c-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
}

.icons-container {
  margin: 100px;
  text-align: center;
}

.skills {
  font-family: 'Courier New', Courier, monospace;
}

.footer-links {
  height: 50px;
  width: 50px;
}